.content-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.edit-page {
    background-color: #f9f9f9;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 75px;
    .is-empty {
        font-style: italic;
    }
    &__notif {
        height: 40px;
        width: 100%;
        border-bottom: 2px dashed #bdbdbd;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 10;
    }
}

.notif {
    height: 100%;
    padding: 0 15px;
    color: #9E9E9E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--success {
        color: #4ccf51;
    }
    &__content {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 21px;
        .btn {
            margin-right: 12px;
            font-size: 12px;
            padding: 6px 12px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__icon {}
    &__msg {
        margin-left: 8px;
        letter-spacing: .55px;
    }
}

.edit-board {
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    transition: border .2s ease-in;
    &:hover {
        border-top: 1px solid #dedede;
    }
    &__c {}
    &__content {}
    &__items {
        display: flex;
    }
    &__item {
        font-size: 16px;
        padding: 10px 13px;
        text-align: center;
        cursor: pointer;
        opacity: .5;
        transition: opacity 200ms ease-in;
        &:hover {
            opacity: 1;
        }
    }
}

.edit-textarea {
    height: 30px;
    resize: none;
    width: 100%;
    display: block;
    border: 0;
    color: #444;
    line-height: 32px;
    font-size: 19px;
    letter-spacing: .1px;
    font-weight: 300;
    background-color: transparent;
}

.flex {
    &-right-j {
        justify-content: flex-end;
    }
    &-center-j {
        justify-content: center;
    }
    &-left-j {
        justify-content: flex-start;
    }
}

.article-wrapper {
    // border: 1px dashed #f1a;
    max-width: 860px;
    width: 100%;
    height: 100%;
    flex-grow: 2; // margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.align-right {
    margin-left: auto !important;
}

.article {
    flex-grow: 2;
    padding-top: 25px; // padding: 25px 15px 12px 15px;
    cursor: text; // padding-bottom: 52px;    
    h2 {
        color: #333;
        font-weight: 700;
        line-height: 38px;
        margin-top: 6px;
        margin-bottom: 12px;
        font-size: 28px;
        .edit-textarea {
            color: #333;
            font-weight: 700;
            line-height: 38px;
            font-size: 28px;
        }
    }
    h1 {
        color: #333;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        .edit-textarea {
            color: #333;
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
        }
    }
    p {
        color: #444;
        line-height: 32px;
        margin: 0;
        padding-bottom: 13px;
        padding-top: 13px;
        font-size: 19px;
        letter-spacing: .1px;
        font-weight: 300;
        .edit-textarea {
            color: #444;
            line-height: 32px;
            font-size: 19px;
            letter-spacing: .1px;
            font-weight: 300;
        }
        &:first-child {
            border-top: 0;
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
        code {
            word-break: normal;
            font-size: 15px;
            padding: 4px 6px;
            background-color: #f8f8f8;
            border-radius: 4px;
            color: #c7254e;
        }
        a {
            font-size: 19px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    ol li {
        list-style-type: decimal !important;
    }
    ul li {
        list-style-type: circle !important;
    }
    >ol,
    >ul {
        margin-top: 15px;
        padding-left: 40px;
        li {
            font-size: 16px;
            color: #26293a;
            font-weight: 300;
            line-height: 1.5;
            .edit-textarea {
                font-size: 16px;
                color: #26293a;
                font-weight: 300;
                line-height: 1.5;
            }
        }
    }
}

.block-img {
    border: 2px dashed #bdbdbd;
    min-height: 100px;
    position: relative;
    margin-bottom: 20px;
    &--main {
        cursor: pointer;
    }
    &__placeholder {
        font-size: 18px;
        font-style: italic;
        color: #444;
        letter-spacing: .25px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__delete {
        position: absolute;
        right: 12px;
        top: 10px;
        font-size: 12px;
        opacity: .5;
        transition: opacity 200ms ease-in;
        padding: 5px;
        z-index: 99;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    &__img {
        text-align: center;
        overflow: hidden; // max-width: $aw;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
        }
    }
    &__caption {
        padding: 13px;
        text-align: center;
        span {
            width: 100%;
            display: block;
            text-align: center;
            line-height: 24px;
            color: #888;
            font-size: 13px;
        }
        .edit-textarea {
            text-align: center;
            line-height: 24px;
            color: #888;
            font-size: 13px;
        }
    }
}