<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include ../../parts/normalize
        link(rel="stylesheet", href="/styles/articles.css")
        title Articles
    body
        .wrapper-page
            include ../../parts/headerPage
            .content-page
                .stories__wrapper
                    .hero-n
                        h1.hero-n__heading Your articles
                        a(href='/me/write_a_post.html').btn.btn_primary Write a story
                    
                    ul.tabs.js-tabs
                        li.tab(data-tab='drafts') Drafts
                        li.tab.tab_selected(data-tab='public') Public
                    
                    section.stories.js-public
                        .story
                            h3.story__heading Javascript and Functional Programming — Pt. 3: Pure Functions
                            p.story__desc Let’s look at the concept of Value vs Reference. Every JavaScript developer should know this topic as it’s often the reason behind bugs in…
                            .story__meta
                                span.story__category JavasScript
                                span.story__date Sep 21, 2013
                                span.story__author by Todd Motto
                            
                            .btn-container
                                button.btn.btn_primary.js-edit(data-edit='1') Edit
                                button.btn.btn_danger-outline.js-delete(data-delete='1') Delete
                        
                        .story
                            h3.story__heading Yep, JavaScript Moves Fast. Build Your Component Library Anyway.
                            p.story__desc Let’s look at the concept of Value vs Reference. Every JavaScript developer should know this topic as it’s often the reason behind bugs in…
                            .story__meta
                                span.story__category JavasScript
                                span.story__date Sep 21, 2014
                                span.story__author by Todd Motto
                            
                            .btn-container
                                button.btn.btn_primary.js-edit(data-edit='2') Edit
                                button.btn.btn_danger-outline.js-delete(data-delete='2') Delete

                        .story
                            h3.story__heading Silicon Valley’s Naiveté: The YouTube Shooter, Culture, and Automation.
                            p.story__desc The April 3rd shooting at YouTube, Inc. was a terrible tragedy. I preface this text with my deepest sympathy for the loved ones lost and…
                            .story__meta
                                span.story__category JavasScript
                                span.story__date Sep 21, 2016
                                span.story__author by Todd Motto
                            
                            .btn-container
                                button.btn.btn_primary.js-edit(data-edit='3') Edit
                                button.btn.btn_danger-outline.js-delete(data-delete='3') Delete
            include ../../parts/footer
            include ../../parts/signC
            
        script(src="/js/articles.js")