<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Settings
        include ../../parts/normalize
        link(rel="stylesheet", href="/styles/settings.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js")
    body
        .wrapper-page
            include ../../parts/headerPage
            .content-page
                .settings
                    .settings__c
                        .sidebar
                            .slidebar__c
                                span.sidebar__title Settings
                                .sidebar__items
                                    -var items = ['Account','Profile','Notification']
                                    each item in items                                    
                                        a.sidebar__item(href='#')
                                            span=item + ' Settings'

                        .settings__content
                            span.settings__content-title.settings__content-title Account Settings
                            .settings__block
                                span.settings__content-title Update Email
                                form.js-update-email
                                    .settings__block-wrapper-input
                                        input(type='email' class='settings__block-input' name='email' value=`${authUser ? authUser.email : false}` placeholder='Enter a new email' required)
                                    .settings__block-wrapper-input
                                        input(type='passworld' class='settings__block-input' name='password' placeholder='Please enter your current password' )
                                    .settings__block-action
                                        button.btn.btn_primary Update
                                        button.btn(type='reset') Cancel

                            .settings__block
                                span.settings__content-title Update Username
                                form.js-update-username
                                    .settings__block-wrapper-input
                                        input(type="text" class='settings__block-input' name='username' value=`${authUser ? authUser.username : false}`)
                                    .settings__block-wrapper-input
                                        input(type="password" class='settings__block-input' name='password' placeholder='Please enter your current password')
                                    .settings__block-action
                                        button.btn.btn_primary Update

                            .settings__block
                                span.settings__content-title Update Password
                                form.js-update-password
                                    .settings__block-wrapper-input
                                        input(type="password" class='settings__block-input' name='oldPassword' placeholder='Old Password' id='oldPassword')
                                    .settings__block-wrapper-input                                
                                        input(type="password" class='settings__block-input' name='newPassword' placeholder='New Password' id='newPassword')

                                    .settings__block-wrapper-input
                                        input(type="password" class='settings__block-input' name='confirmPassword' placeholder='Confirm New Password' id='confirmPassword')
                                    .settings__block-action
                                        button.btn.btn_primary Update Password

                            .settings__block
                                span.settings__content-title Delete Account
                                .settings__block-describe
                                    span Permanently delete your Codementor account and all data associated with it.
                                .settings__block-action
                                    button.btn.btn_danger-outline.js-delete-account Delete Account


            //- include ../../parts/footer
            include ../../parts/signC
        
        script(src="/js/settings.js")