<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include ../../parts/normalize
        link(rel="stylesheet", href="/styles/bookmarks.css")
        title Bookmarks
    body
        .wrapper-page
            include ../../parts/headerPage
            .content-page
                .bookmarks
                    .hero-n
                        h1.hero-n__heading Bookmarks

                    each i,ind in [1,2,3,4]
                        .bookmark
                            h3.bookmark__heading=ind 
                                | Back to roots: JavaScript Value vs Reference
                            p.bookmark__desc Let’s look at the concept of Value vs Reference. Every JavaScript developer should know this topic as it’s often the reason behind bugs in…
                            .bookmark__meta
                                span.bookmark__category JavasScript
                                span.bookmark__date Sep 21, 2013
                                span.bookmark__author by Todd Motto
    
                            button.btn.btn_danger-outline.js-remove-btn(data-bookmark-ind=ind) Remove
            include ../../parts/footer
            include ../../parts/signC
        