.sign-c {
    background-color: rgba(14, 133, 230, 0.473);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    &_show {
        display: block;
    }
    &[data-state='sign-up'] {
        .sign-up {
            display: flex;
        }
    }
    &[data-state='log-in'] {
        .log-in {
            display: flex;
        }
    }
}

.sign {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__c {
        padding: 45px 15px 25px 15px;
        background: #fefefe;
        border-radius: 5px;
        position: relative;
    }
    &__close {
        position: absolute;
        right: 16px;
        top: 7px;
        font-size: 14px;
        cursor: pointer;
        color: #008fb2;
        opacity: .65;
        &:hover {
            opacity: 1;
        }
    }
    &__form {
        width: 325px;
    }
    &__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        &[data-valid='invalid'] {
            .sign__msg-invlaid {
                display: block;
            }
            .sign__control {
                border-color: #dc3545;
                box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
            }
        }
        &[data-valid='valid'] {
            .sign__msg-invlaid {
                display: none;
            }
        }
    }
    &__control {
        width: auto;
        font-size: 16px;
        padding: 9px 12px;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
    }
    &__msg-invlaid {
        position: absolute;
        right: 5px;
        top: -18px;
        font-size: 14px;
        color: #dc3545;
    }
    &__sub {
        font-size: 14px;
        text-align: center;
    }
}

.log-in,
.sign-up {
    display: none;
}