.sign.log-in
    .sign__c
        .sign__close
            i(class="fas fa-times")
        form.js-log-form.sign__form
            .sign__group(data-valid='valid')
                input.sign__control(placeholder='Email' name='email' type='email' value='warvlad822@gmail.com')
                span.sign__msg-invlaid
            .sign__group(data-valid='valid')
                input.sign__control(placeholder='Password' name='password' type='password' value='12345678')
                span.sign__msg-invlaid
            .sign__group
                button.btn.btn_primary Log in
            .sign__sub
                a(href='#') Sign up