extends ../layout

block append head
    -var titlePage= 'Write a Post'
    link(rel="stylesheet", href="/styles/editor.css")
    link(rel="stylesheet", href="/styles/uploadImg.css")

block content
    .edit-page
        .edit-page__notif
            .notif.js-notif
                .notif__content
                    .notif__icon
                        i.far.fa-check-circle
                    .notif__msg Save
                .notif__content.js-btns-action
                    if type ===  'public'
                        button.btn.btn_primary(data-action='save') Save
                        button.btn.btn_primary(data-action='newPost') New Post
                        button.btn.btn_danger-outline(data-action='delete') Delete
                    else 
                        button.btn.btn_primary(data-action='publish') Save and Publish
                        button.btn.btn_primary(data-action='saveInDraft') Save in Draft
                        button.btn.btn_primary(data-action='newPost') New Post
                        button.btn.btn_danger-outline(data-action='delete') Delete
        .article-wrapper.js-article-wrapper
            .edit-board.js-edit-board
                .edit-board__c
                    .edit-board__content.js-edit-content
            .article.js-article
    
    include ../parts/uploadImg
          
block append script
    script(src="http://www.jacklmoore.com/js/autosize.min.js")
    script(src="/js/editorPage.js")