extends ../layout

block append head
    -var titlePage = 'Main page'
    link(rel="stylesheet", href="/styles/index.css")

block content
    .hero
        .hero__c
            if(img)
                .hero__icon
                    img(src=img, alt="")
            h1.hero__title=topic  
    .content    
        include ../parts/post


block append script
    if auth
        script(src="/js/index.js")