.edit-page {
    padding-top: 125px;
    .is-empty {
        font-style: italic;
    }
}

.edit-board {
    $w: 28px;
    $h: 28px;
    width: $w;
    height: $h;
    position: absolute;
    background-color: #2b46df;
    left: -75px;
    top: 15px;
    &__c {
        background-color: #26293a;
        position: absolute;
        top: $h + 5px;
        left: -10px;
    }
    &__content {}
    &__items {}
    &__item {
        font-size: 13px;
        color: #ffffff;
        padding: 12px 8px;
        text-align: center;
        border-bottom: 1px dashed #ffffff;
        cursor: pointer;
        &:last-child {
            border-bottom: 0;
        }
        &:hover {
            background-color: #94057c;
        }
    }
}

.article-wrapper {
    // border: 1px dashed #f1a;
    max-width: 700px;
    width: 100%;
    margin: auto;
    position: relative;
}

.edit-textarea {
    height: 30px;
    resize: none;
    width: 100%;
    display: block;
    border: 0;
    color: #444;
    line-height: 32px;
    font-size: 19px;
    letter-spacing: .1px;
    font-weight: 300;
}

.flex {
    &-right-j {
        justify-content: flex-end;
    }
    &-center-j {
        justify-content: center;
    }
    &-left-j {
        justify-content: flex-start;
    }
}

.align-right {
    margin-left: auto !important;
}

.article {
    cursor: text; // padding-bottom: 52px;    
    h2 {
        color: #333;
        font-weight: 700;
        line-height: 38px;
        margin-top: 6px;
        margin-bottom: 12px;
    }
    h2 {
        font-size: 28px;
    }
    p {
        color: #444;
        line-height: 32px;
        margin: 0;
        padding-bottom: 13px;
        padding-top: 13px;
        font-size: 19px;
        letter-spacing: .1px;
        font-weight: 300;
        border-top: 1px dashed #b94807;
        &:first-child {
            border-top: 0;
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
        code {
            word-break: normal;
            font-size: 15px;
            padding: 4px 6px;
            background-color: #f8f8f8;
            border-radius: 4px;
            color: #c7254e;
        }
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    b {
        font-size: 22px;
    }
    ol li {
        list-style-type: decimal !important;
    }
    ul li {
        list-style-type: circle !important;
    }
    >ol,
    >ul {
        margin-top: 15px;
        padding-left: 40px; // border: 1px dashed #ad1;
        li {
            font-size: 16px;
            color: #26293a;
            font-weight: 500;
            line-height: 1.5;
        }
    }
    .block-img {
        display: flex;
        cursor: pointer;
        &__c {
            display: flex;
            flex-direction: column;
            width: 100%;
            img {
                display: block;
                width: 100%;
                height: 200px;
            }
            &_full {
                width: 100%;
            }
        }
        .caption {
            display: block;
            text-align: center;
            margin-top: 5px;
            font-size: 14px;
            line-height: 1.5;
        }
    }
}