.user-profile {
    background-color: #f3f3f3;
    padding-bottom: 75px;
    &__content {
        width: 860px;
        margin: auto;
    }
    &__info-block {
        background-image: linear-gradient(0deg, #006080, #005672), linear-gradient(#f1f4f5, #f1f4f5);
        background-size: cover;
        padding: 110px 0 75px 0;
        &-content {
            width: 305px;
            margin: auto;
        }
    }
    &__avatar {
        display: flex;
        justify-content: center;
        &-c {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            &:hover {
                .user-profile__avatar-upload {
                    display: flex;
                }
            }
        }
        &-upload {
            background-color: rgba(0, 0, 0, 0.274);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: none;
            font-size: 14px;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-transform: uppercase;
            i {
                margin-right: 8px;
            }
        }
        img {
            position: relative;
            display: block;
            max-width: 100%;
        }
    }
    &__form-edit {
        display: block;
        padding-top: 14px;
        input {
            padding: 8px 22px;
            background-color: transparent;
            display: block;
            width: 100%;
            border: 0;
            text-align: center;
            border-bottom: 1px dashed transparent;
            &:hover {
                border-bottom: 1px dashed #fff;
            }
            &:focus {
                border-bottom: 1px solid #00b5e2;
            }
        }
        &-name {
            color: #fff;
            font-size: 28px;
            font-weight: bold;
        }
        &-describe {
            font-size: 16px;
            color: #84909e;
        }
    }
    &__tab-bar {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
    }
    &__tabs {
        display: flex;
    }
    &__tab {
        padding: 12px 22px;
        font-size: 18px;
        color: #666;
        &:first-child {
            border-bottom: 3px solid #000;
        }
        &:hover {
            color: #054a5a;
        }
    }
    &__c {
        padding-top: 25px;
    }
    &__heading {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
    }
    &__title {
        color: #333;
        font-size: 18px;
        letter-spacing: .35px;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__edit-btn {
        font-size: 14px;
        color: #00b5e2;
        cursor: pointer;
        i {
            margin-right: 5px;
        }
        span {
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .25px;
        }
    }
    &__block {
        background-color: #fff;
        border: solid 1px #e5eaea;
        padding: 20px 30px;
    }
    &__about-block {
        height: 215px;
    }
    .post-block {
        &__write {
            color: #00b5e2;
            letter-spacing: .25px;
            font-size: 14px;
            position: relative;
            display: flex;
            align-content: center;
            cursor: pointer;
            i {
                margin-right: 12px;
            }
        }
        &__content {}
    }
}

.upload-img {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    &__c {
        background-color: #eee;
        width: 720px;
        height: 500px;
        border-radius: 5px;
        display: flex;
        overflow: hidden;
    }
    &__sidebar {
        width: 50px;
        border-right: 1px solid #ddd;
        &-items {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &-item {
            $s: 38px;
            padding: 8px 0px;
            cursor: pointer;
            &:hover {
                background-color: #ddd; // &:last-child {
                //     border-bottom-left-radius: 5px;
                // }
                // &:first-child {
                //     border-top-left-radius: 5px;
                // }
            }
            &-c {
                width: $s;
                height: $s;
                margin: auto;
                border-radius: 50%;
                background-color: #fff;
            }
            &-icon {
                font-size: 18px;
                line-height: $s;
                text-align: center;
                color: #4b4444
            }
        }
    }
    &__content {
        width: calc(100% - 50px);
        &-heading {
            border-bottom: 1px solid #ddd;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 13px;
        }
        &-c {
            height: calc(100% - 50px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__url {
        width: 387px;
        display: flex;
        border-radius: 3px;
        overflow: hidden;
        &-input {
            font-size: 16px;
            display: block;
            width: 78%;
            padding: 10px;
        }
        .btn {
            width: 22%;
        }
    }
    .drop-area {
        width: 606px;
        height: 386px;
        border-radius: 4px;
        border: 1px dashed #bdbdbd;
        &__c {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: relative;
        }
        &__select {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            &-labels {
                text-align: center;
                display: flex;
                flex-direction: column;
            }
            &-heading {
                font-size: 20px;
                color: #444;
                text-transform: capitalize;
            }
            &-subheading {
                margin-top: 10px;
                font-size: 13px;
                color: #9e9e9e;
            }
        }
    }
}